* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #15202b;
  color: white;
}
h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}
form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  background: #434989;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 8px;
  background: transparent;
  color: white;
}
button {
  padding: 0 40px;
  height: 100%;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
::placeholder {
  color: white;
  font-size: 18px;
}

.search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.search-result img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
